@charset "utf-8";
/* =============================================================================
   Layout
   ========================================================================== */

#body-container,
#header-above {
    margin: 0 auto;
    padding: 0;
}

#load-first,
#footer-above {
    float: left;
}

#footer-above {
    width: 100%;
}

.main-only #content-main {
    float: left;
    width: 100%;
}

.main-only #load-first {
    width: 100%;
}

.alpha-1-main #load-first {
    width: 100%;
}

.alpha-1-main #content-main {
    float: right;
    width: 81%;
}

.alpha-1-main #column-group-alpha {
    float: left;
    width: 19%;
}

.alpha-2-main #load-first {
    width: 100%;
}

.alpha-2-main #content-main {
    float: right;
    width: 62%;
}

.alpha-2-main #column-group-alpha {
    float: left;
    width: 38%;
}

.main-beta-1 #content-main {
    float: left;
    width: 100%;
}

.main-beta-1 #load-first {
    width: 81%;
}

.main-beta-1 #column-group-beta {
    float: right;
    width: 19%;
}

.main-beta-2 #content-main {
    float: left;
    width: 100%;
}

.main-beta-2 #load-first {
    width: 62%;
}

.main-beta-2 #column-group-beta {
    float: right;
    width: 38%;
}

.alpha-1-main-beta-1 #load-first {
    width: 81%;
}

.alpha-1-main-beta-1 #content-main {
    float: right;
    width: 74.2%;
}

.alpha-1-main-beta-1 #column-group-alpha {
    float: left;
    width: 25.8%;
}

.alpha-1-main-beta-1 #column-group-beta {
    float: right;
    width: 19%;
}

.alpha-2-main-beta-1 #load-first {
    width: 81%;
}

.alpha-2-main-beta-1 #content-main {
    float: right;
    width: 62%;
}

.alpha-2-main-beta-1 #column-group-alpha {
    float: left;
    width: 38%;
}

.alpha-2-main-beta-1 #column-group-beta {
    float: right;
    width: 19%;
}

.alpha-1-main-beta-2 #load-first {
    width: 62%;
}

.alpha-1-main-beta-2 #content-main {
    float: right;
    width: 65.5%;
}

.alpha-1-main-beta-2 #column-group-alpha {
    float: left;
    width: 34.5%;
}

.alpha-1-main-beta-2 #column-group-beta {
    float: right;
    width: 38%;
}

.alpha-2-main-beta-2 #load-first {
    width: 62%;
}

.alpha-2-main-beta-2 #content-main {
    float: right;
    width: 38%;
}

.alpha-2-main-beta-2 #column-group-alpha {
    float: left;
    width: 62%;
}

.alpha-2-main-beta-2 #column-group-beta {
    float: right;
    width: 38%;
}

/* =============================================================================
   spacing rules
   ========================================================================== */

.gutter {
    margin: 10px;
}

#column-group-alpha .gutter {
    margin: 0 10px 0 0;
}

#column-group-beta .gutter {
    margin: 0 0 0 10px;
}

/* =============================================================================
   dynamic module widths
   ========================================================================== */

.count-1 {
    float: left;
    width: 100%;
}

.count-2 {
    float: left;
    width: 50%;
}

.count-3 {
    float: left;
    width: 33.3%;
}

.count-4 {
    float: left;
    width: 25%;
}

.count-5 {
    float: left;
    width: 20%;
}

.count-6 {
    float: left;
    width: 16.6%;
}

/* =============================================================================
   column widths 
   ========================================================================== */

.cols-1 {
    display: block;
    float: none !important;
    margin: 0 !important;
}

.cols-2 .item {
    width: 47.8%;
    padding: 1%;
}

.cols-3 .item {
    width: 30.9%;
    padding: 1%;
}

.cols-4 .item {
    width: 22.4%;
    padding: 1%;
}

.cols-5 .item {
    width: 19.1%;
    padding: 1%;
}

.cols-6 .item {
    width: 15.9%;
    padding: 1%;
}

.cols-2 .item,
.cols-3 .item,
.cols-4 .item,
.cols-5 .item,
.cols-6 .item {
    float: left;
}

.column-1,
.items-more {
    clear: both;
}

/* =============================================================================
   Menu
   ========================================================================== */

ul.menu {
    list-style-type: none;
}

ul.menu li {
    float: left;
    position: relative;
	margin: 0;
    padding: 0;
}

ul.menu a,
ul.menu span.seprator {
	display: block;
	padding: .1em .7em;
}
/* use padding to indent text */

ul.menu ul {
    position: absolute;
    left: -999em;
    z-index: 999;
    width: 16em;
}
/* change width to alter sub-menu widths */

ul.menu ul li {
    width: 100%;
}

ul.menu ul ul {
    margin: 0 0 0 100%;
    top: 0;
}

#nav:after,
#column-group-alpha ul.menu:after,
#column-group-beta ul.menu:after {
    clear: both;
    content: ".";
    font: 1px/0;
    display: block;
    height: 0;
    visibility: hidden;
}

#column-group-alpha ul.menu,
#column-group-beta ul.menu {
    padding: 0;
}
/* adjust to resize menus */

#column-group-alpha ul.menu li,
#column-group-beta ul.menu li {
    width: 100%;
    margin: 0;
}

#column-group-alpha ul.menu ul {
    margin: 0 0 0 100%;
    top: 0;
}

#column-group-beta ul.menu ul {
    right: 100%;
    top: 0;
}

#nav {
    z-index: 999;
}

#nav ul,
#nav ul li {
    margin: 0;
    padding: 0;
}

#nav ul.menu li a,
#nav ul.menu li span.separator {
    line-height: 1.8em;
    padding: 6px 15px 5px;
}

#nav ul.menu ul ul{
    margin:0 0 0 100%;top:0
}

/* =============================================================================
   Right aligned navigation
   ========================================================================== */

/*
 * #nav{float:right;margin:0 auto;position:relative;z-index:999;}
 * #nav ul.menu li{float:right;}
 */

/* =============================================================================
   Left/Right Aligned Dropline Second Level
   ========================================================================== */

/*
 * #nav ul.menu ul {width:1024px;border:none;}
 * #nav ul.menu ul li {width:13em;}
 * #nav ul.menu ul li a{font-size:.8em;}
 * #nav ul.menu ul ul{margin:0 0 0 0;top:100%;}
 */

/* =============================================================================
   Left/Right Aligned Dropbox Second Level
   ========================================================================== */

/*
 * #nav ul.menu ul {width:400px;}
 * #nav ul.menu ul li {width:200px;}
 * #nav ul.menu ul li a{font-size:.8em;}
 * #nav ul.menu ul ul{margin:0 0 0 100%;top:0;}
 */

/* =============================================================================
   Absolutely Positioned Centered Menu
   ========================================================================== */

/*
 * #nav{width:100%;}
 * #nav ul{position:relative;float:right;right:50%;}
 * #nav ul li{position:relative;float:left;left:50%;margin:0;}
 */

/* =============================================================================
   Second Level Centered Suckerfish
   ========================================================================== */

/*
 * #nav ul li ul{display:none;position:absolute;top:100%;left:0;right:auto}
 * #nav ul li ul li{left:auto;margin:0;clear:left;width:100%;}
 * #nav ul li:hover ul{display:block;}
 * Flip last item to keep witin area
 */
 
/* =============================================================================
   Third Level Centered Suckerfish
   ========================================================================== */  
/*
 * #nav ul li:hover ul li ul {display: none;}
 * #nav ul li:hover ul li a,
 * #nav ul li:hover ul li:hover ul { display: block;}
 */

/* =============================================================================
   suckerfish functionality
   ========================================================================== */    
ul.menu li:hover ul ul,
ul.menu ul li:hover ul ul,
ul.menu ul ul li:hover ul ul,
ul.menu li.pie_hover ul ul,
ul.menu ul li.pie_hover ul ul,
ul.menu ul ul li.pie_hover ul ul {
    left: -999em;
}

ul.menu li:hover ul,
ul.menu ul li:hover ul,
ul.menu ul ul li:hover ul,
ul.menu ul ul ul li:hover ul,
ul.menu li.pie_hover ul,
ul.menu ul li.pie_hover ul,
ul.menu ul ul li.pie_hover ul,
ul.menu ul ul ul li.pie_hover ul {
    left: auto;
}

/* =============================================================================
   Dwyer Method for Image Replacement- Fully browser compatible,
   works with screenreaders but doesn't work with images off/css on
   ========================================================================== */

/*
 * #nav ul.menu li a {display:block;width:100px;height:20px;background:url(../images/logo.png) -50px -50px no-repeat;}
 * #nav ul.menu li a span{display:block;width:0;height:0;overflow:hidden;}
 */

/* =============================================================================
   Float Clearing
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}