@charset "utf-8";

/* _________________________________________________

Partly inspired by 320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Keith Clark 
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
*/

div {
    -o-transition: all 1s linear; 
    -moz-transition: all 1s linear; 
    -webkit-transition: all 1s linear;
    -ms-transition: all 1s linear;
    transition: all 1s linear;
}

/* 480px */
@media only screen and (max-width: 480px) {
    .alpha-1-main #content-main, .alpha-1-main #column-group-alpha, .alpha-2-main #load-first, .alpha-2-main #content-main, .alpha-2-main #column-group-alpha, .main-beta-1 #content-main, .main-beta-1 #load-first, .main-beta-1 #column-group-beta, .main-beta-2 #content-main, .main-beta-2 #load-first, .main-beta-2 #column-group-beta, .alpha-1-main-beta-1 #load-first, .alpha-1-main-beta-1 #content-main, .alpha-1-main-beta-1 #column-group-alpha, .alpha-1-main-beta-1 #column-group-beta, .alpha-2-main-beta-1 #load-first, .alpha-2-main-beta-1 #content-main, .alpha-2-main-beta-1 #column-group-alpha, .alpha-2-main-beta-1 #column-group-beta, .alpha-1-main-beta-2 #load-first, .alpha-1-main-beta-2 #content-main, .alpha-1-main-beta-2 #column-group-alpha, .alpha-1-main-beta-2 #column-group-beta, .alpha-2-main-beta-2 #load-first, .alpha-2-main-beta-2 #content-main, .alpha-2-main-beta-2 #column-group-alpha, .alpha-2-main-beta-2 #column-group-beta, .count-1, .count-2, .count-3, .count-4, .count-5, .count-6, .cols-1, .cols-2 .item, .cols-3 .item, .cols-4 .item, .cols-5 .item, .cols-6 .item, .cols-2 .item, .cols-3 .item, .cols-4 .item, .cols-5 .item, .cols-6 .item {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    .count-2 div, .count-3 div, .count-4 div {
        word-wrap: break-word;
    }
    * .gutter, #column-group-alpha .gutter, #column-group-beta .gutter {
        margin: 0;
    }
}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 974px) {

}
@media only screen and (max-width: 1140px) {

}
@media only screen and (max-width: 1380px) {

}
/* 2x */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {

}